<h1> New Post </h1>

<%= form_for :post, url: posts_path do |f| %>
	<%= f.label :number %> <br>
	<%= f.text_field :number %> <br>
	<br>
	<%= f.label :body %><br>
	<%= f.text_field :body %><br>
	<br>
	<%= f.submit %>
<% end %>

<br>

<%= form_tag json_to_post_posts_path do %>
<%= text_area_tag :code %>
<%= submit_tag 'Отправить' %>
<% end %>